# تجاهل الكود الأصلي النظيف عشان محدش يشوفه
index - Copy.html

# تجاهل أي سكريبتات بايثون ملهاش لازمة في الويب
*.py

# تجاهل الملفات المضغوطة
*.rar

# لو فولدر Verbs_Audio ده مجرد فولدر شغل ومش مستخدم في الموقع النهائي، ضيفه هو كمان:
Verbs_Audio/